// Eww colors for Aing rice
$bg: #2E3440;
$bg-alt: #3B4252;
$fg: #D8DEE9;
$black: #3B4252;
$lightblack: #4C566A;
$red: #BF616A;
$blue: #5E81AC;
$cyan: #88C0D0;
$magenta: #B48EAD;
$green: #A3BE8C;
$yellow: #EBCB8B;
$archicon: #81A1C1;
